.header {
    background: url(/resources/img/triangle.png);
    background-size: cover;
    padding-top: 0;

    h1 {
        font-family: $font-family-cursive;    
        font-size: $font-size-h1;
        color: $gray-dark;
        font-weight: 500;
    }
}