<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ooops</title>
    <link href="/resources/compiled/css/main.css" rel="stylesheet">
</head>
<body>
<div class="jumbotron header">
    <div class="alert alert-info">
        <h1>We're terribly sorry</h1>
        <p>Something has gone wrong here. Please give it another go.</p>
    </div>
</div>

<script type="text/javascript" src="/resources/compiled/js/main.js"></script>
</body>
</html>
